<div class="jumbotron text-center">
  <h1>System Users</h1>
  <% if current_user.admin? %>
  <small><%= link_to "Add New User", new_user_path %></small>
  <% end %>
  </div>

Admins: <br>
<% User.admin.each do |u| %>
<%= link_to u.full_name, user_path(u) %><br>
<% end %>
<br><br>
Other Users:<br>
<% User.general.each do |u| %>
<%= link_to u.full_name, user_path(u) %><br>
<% end %>
