<ul class="navbar-nav ms-auto align-items-center">
  <li class="nav-item">
    <%= link_to root_path, class: "nav-link", style: "color: rgba(255, 255, 255, 0.9);" do %>
      <i class="fas fa-home me-1"></i>Dashboard
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to volunteers_path, class: "nav-link", style: "color: rgba(255, 255, 255, 0.9);" do %>
      <i class="fas fa-users me-1"></i>Volunteers
    <% end %>
  </li>

  <% if logged_in? %>
    <li class="nav-item">
      <%= link_to user_path(current_user.id), class: "nav-link", style: "color: rgba(255, 255, 255, 0.9);" do %>
        <i class="fas fa-user me-1"></i>Profile
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to 'Logout', logout_path, method: :delete, class: "btn btn-danger btn-sm ms-3", style: "color: #fff;" %>
    </li>
  <% end %>
</ul>
